<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABU5T_tTVvdOS8cNxvj7fgfbtx1wGmVZA</string>
	<key>GCM_SENDER_ID</key>
	<string>603474491330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ShionNakamura.EnglishApp</string>
	<key>PROJECT_ID</key>
	<string>englishapp-18cdd</string>
	<key>STORAGE_BUCKET</key>
	<string>englishapp-18cdd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603474491330:ios:c7a43b5b86f989f250085b</string>
</dict>
</plist>